/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * kulturista-web:
 *   - http://typekit.com/eulas/00000000000000003b9afb57
 *   - http://typekit.com/eulas/00000000000000003b9afb58
 * quiroh:
 *   - http://typekit.com/eulas/00000000000000003b9aede7
 *   - http://typekit.com/eulas/00000000000000003b9aede9
 * rooney-sans:
 *   - http://typekit.com/eulas/000000000000000000013506
 *   - http://typekit.com/eulas/000000000000000000013508
 *   - http://typekit.com/eulas/000000000000000000013502
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-02-19 19:08:25 UTC"}*/

@import url("../p.typekit.net/p7993.css?s=1&amp;k=dde2qbd&amp;ht=tk&amp;f=1783.1784.18520.18522.18529.32197.32199&amp;a=16484&amp;app=typekit&amp;e=css");

@font-face {
font-family:"kulturista-web";
src:url("af/eef83b/00000000000000003b9afb57/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/eef83b/00000000000000003b9afb57/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/eef83b/00000000000000003b9afb57/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"kulturista-web";
src:url("af/df268b/00000000000000003b9afb58/27/lfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("af/df268b/00000000000000003b9afb58/27/dfdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("af/df268b/00000000000000003b9afb58/27/afdcc?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"rooney-sans";
src:url("af/7b001d/000000000000000000013506/27/l652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("af/7b001d/000000000000000000013506/27/d652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("af/7b001d/000000000000000000013506/27/a652f?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"rooney-sans";
src:url("af/4df522/000000000000000000013508/27/l7238?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n8&amp;v=3") format("woff2"),url("af/4df522/000000000000000000013508/27/d7238?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n8&amp;v=3") format("woff"),url("af/4df522/000000000000000000013508/27/a7238?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n8&amp;v=3") format("opentype");
font-style:normal;font-weight:800;
}

@font-face {
font-family:"rooney-sans";
src:url("af/04bf92/000000000000000000013502/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/04bf92/000000000000000000013502/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/04bf92/000000000000000000013502/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"quiroh";
src:url("af/ed907f/00000000000000003b9aede7/27/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/ed907f/00000000000000003b9aede7/27/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/ed907f/00000000000000003b9aede7/27/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"quiroh";
src:url("af/93074c/00000000000000003b9aede9/27/l5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("woff2"),url("af/93074c/00000000000000003b9aede9/27/d5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("woff"),url("af/93074c/00000000000000003b9aede9/27/a5bba?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n6&amp;v=3") format("opentype");
font-style:normal;font-weight:600;
}

.tk-kulturista-web { font-family: "kulturista-web",serif; }
.tk-rooney-sans { font-family: "rooney-sans",sans-serif; }
.tk-quiroh { font-family: "quiroh",sans-serif; }
